.page-not-found{
    text-align: center;
    width: 60%;
    height: 60%;
    margin: 5% 20%;
    padding: 5%;
    border: 2px solid crimson;
}

.page-not-found h1{
    margin: 20px 0;
    color: crimson;
}